$main-bg: rgb(236, 236, 236);
$content: #fff;
$text: rgb(3, 27, 104);

@mixin conSize() {
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: $main-bg;
  color: $text;

  main {
    @include conSize();

    background-color: $content;
  }

  .header {
    text-align: center;

    h1 {
      font-size: 55px;
    }

    .navbar {
      @include conSize();

      background-color: $content;

      .tabs {
        list-style: none;
        margin: 0;
        padding: 0;

        .list {
          display: inline-block;
          margin: 0 7px;
          padding: 20px;
          font-size: 18px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  section {
    text-align: center;
    padding: 25px;
    border-top: 10px solid $text;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

    .title,
    .menu-title {
      margin: 20px 0;
      padding: 0;
      font-size: 35px;
    }

    .desc {
      font-size: 20px;
    }

    img {
      width: 40%;
      margin: 0 auto;
    }

    .menu-title {
      font-size: 25px;
    }
  }
}

.current-page {
  background-color: $text;
  border-radius: 5px;
  color: $content;
}
